@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&family=Montserrat:ital,wght@0,400;0,500;1,400;1,500&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.search.active {
  background-color: #111111;
  color: rgb(229 231 235);
}

.search.active + .search-input {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-80%, 100%);
}

.offer.active {
  background-color: #111111;
  color: rgb(229 231 235);
}

.offer-list {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
  transform: translate(-50%, 0%);
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}

.offer.active + .offer-list {
  transform: translate(-50%, 13%);
  opacity: 1;
  visibility: visible;
  z-index: 0;
}

.offer.active > .dropdown-icon {
  transform: rotate(180deg);
}

.drop-north-shadow {
  --tw-drop-shadow: drop-shadow(0 -20px 13px rgb(0 0 0 / 0.03))
    drop-shadow(0 -8px 5px rgb(0 0 0 / 0.08));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}

.slide-in {
  transform: translateX(0%);
}

.slide-right {
  transform: translateX(100%);
}

.slide-left {
  transform: translateX(-100%);
}

.hover-underline {
  display: inline-block;
  position: relative;
  color: white;
}

.hover-underline::after {
  content: '';
  position: absolute;
  width: 110%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: -5%;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.underline-logo::after {
  background-color: black;
  width: 125%;
  left: -12.5%;
  transition: transform 0.5s ease-out;
}

.time-3000 {
  animation-duration: 3000ms;
}
